

<metrics-grid 
  title="main Heading"
  icon="bi bi-grid"
  [data]="tableConfig.data"
  [addNewRowItem]="true"
  [variant]="'bordered round-card responsive card'"
  [collapsible]="true"
  [progressBy]="'lost'"
  [filterBy]="'status'"
  [filterStyle]="['tabs', 'keyword', 'dropdown', 'date']"
  [pageSize]="4"
  [valueLength]="['email', 'organization', 'phone', 'tags']"
  mediaImage="assets/dummy.jpg"
  [Sorting]="true"
  [showActions]="true"
  [headerObject]="headerText"
  [footerObject]="footerText"
  [actionButtons]="[
    {
      label: 'Dropdown',
      tooltip: 'Dropdown for table',
      className: 'success',
      isDropdown: true,
      options: ['lead board', 'Actives', 'scheduled']
    },
    {
      label: 'Delete',
      icon: '',
      tooltip: 'Delete Lead',
      className: 'danger'
    }
  ]"
  
>

</metrics-grid>
<ng-template #headerText>
  <div class="my-header" style="display: flex; align-items: center;">
    header component
  </div>
</ng-template>
<ng-template #footerText>
  <div class="my-footer" style="display: flex; align-items: center;">
    footer component
  </div>
</ng-template>