
  
   
  <div class="row ">
    <div class="col-lg-12">
        <app-card title="activities" icon="icon-log" >
  
            <metrics-grid 
             
              [data]="activities" 
              [showActions]="true" 
              [actionButtons]="actionButtons">
            </metrics-grid>
          </app-card>
    </div>
    <div class="col-lg-12 mt-3">
        <app-card title="login Logs" icon="icon-log" >
            <metrics-grid 
          
            [data]="loginLogs" 
            [showActions]="true" 
            [actionButtons]="actionButtons">
          </metrics-grid>
          </app-card>
    </div>
  </div>
  