.sidebar {
    width: 220px;
    height: 100%;
    min-height: inherit !important;
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 0 !important;
    * {
        transition: none !important;
    }
  
 
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
      
     
        
        li {
            width: 100%;
            border-bottom: 1px solid var(--card-color);
            border-top: 1px solid var( --bs-border-color);
            padding: $spacing-sm 0;
            &:first-child {
                border-top: none;
                padding-top: 0;
            }
            &:last-child {
                border-bottom: none;
            }
          
            a {
                text-decoration: none;
                color:var(--text-color);
               border-radius: $spacing-sm;
               padding:$spacing-sm $spacing-md;
                display: flex;
                align-items: center;
                cursor: pointer;
                font-size: 1em;
                gap: $spacing-sm;
                transition: 0.4s !important;
                @include tablet-view {
                    padding: $spacing-md;
                    font-size: 1.4em;
                    border-radius: $round-sm;
                }
                i {
                    color: var(--icon-color);
                }
                &:hover {
                    color: var(--second-color);
                }
              }
              a.active {
                background-color: var(--card-color);
                color: var(--prim-color);
                i {
                    color: var(--prim-color);
                }
              }
          }
      }
}
.pagetitle {
    font-size: 1.5em;
    margin: 0;
}
@include tablet-view {
    .pagetitle {
        font-size: 1.2em;
    }
.sidebar.card {
    background: none !important;
    border: none !important;
    padding: 0;
    justify-content: flex-end;
   
}
    .sidebar {
        position: fixed !important;
        width: 100%;
        height: 70px;
        justify-content: center;
        z-index: 9999;
        bottom: 0px;
        border-radius: 0 !important;
        padding: $spacing-sm;
        left: 0;
        z-index: 2;
       
        margin-bottom: 0 !important;
       
       
        ul {
           
            align-items: center;
            
            gap: 0px;
            li {
                width: auto;
                flex:1;
                margin: 0;
                padding: 0;

                span {
                display: none;
               
            }
         
            a {
                align-items: center;
                justify-content: center;
                background-color: var(--card-color);
                border: 0 !important;
                border-radius: 0 ;
                padding: $spacing-sm;

                i {
                    color: var(--text-colorcolor);
                    border: 2px solid var(--prime-color);
                    padding: $spacing-sm;
                  
                }
            
                
            }
            a.active {
                background-color: var(--card-color);
                i {
                    color: var(--second-color);
                    border-bottom: 2px solid var(--second-color);
                    padding: $spacing-sm;
                }
              }
       
        }
        }
    }
    main {
        padding-left: 0 !important;
        padding-bottom: 33px !important;

    }
}

 .close-menu {
    .sidebar {
        width: $side-bar-close;

    

         ul li a {
            justify-content: center;
            i {
                font-size: 24px;
            }
            span {
            display: none;
            }
        }
    }
 }
  