 <app-header [pageTitle]="headerTitle" (menuToggle)="toggleMenu()"></app-header>
<div class="container-fluid ">
   
  <div id="main-menu" class="content-panel close-menu">
    <sidebar (titleChange)="onTitleChange($event)"></sidebar>
    <main>
      <div class="tab-content main-container" id="mxgolbalRout">
        <!-- Dynamically added pages component -->
        <div class="tab-panel fade  active" id="home" data-title="home" tite="['home']" role="tabpanel" aria-labelledby="home-tab">
          <app-dashboard></app-dashboard>
        </div>
        <div class="tab-panel fade " id="crm-teams" data-title="Teams" role="tabpanel" aria-labelledby="teams-tab">
         <app-teams></app-teams>
        </div>
        <div class="tab-panel fade " id="crm-leads"  data-title="leads" role="tabpanel" aria-labelledby="leads">
     <app-leads></app-leads>
        </div>
          <div class="tab-panel fade  " id="backlog"  data-title="backlog" role="tabpanel" aria-labelledby="backlog-tab">
          <app-backlog></app-backlog>
        </div>
        <div class="tab-panel fade  " id="messages"  data-title="Messages" role="tabpanel" aria-labelledby="messages-tab">
          <app-messages></app-messages>
        </div>
        <div class="tab-panel fade " id="profile"  data-title="Profile" role="tabpanel" aria-labelledby="profile-tab">
          <app-profile></app-profile>
        </div>
        <div class="tab-panel fade " id="log"  data-title="Logs" role="tabpanel" aria-labelledby="log-tab">
          <app-log></app-log>
        </div>
        <div class="tab-panel fade " id="notifications"  data-title="Logs" role="tabpanel" aria-labelledby="notifications-tab">
          <app-notifications></app-notifications>
        </div>
      </div>
    </main>
  </div>
</div>